name: Build SWU
on:
  workflow_dispatch:
    inputs:
      use_cache:
        description: 'Use Docker build cache'
        required: true
        type: boolean
        default: true
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build and export SWU
      uses: docker/build-push-action@v6
      with:
        context: .
        push: false
        build-args: |
          version=${{ github.sha }}
          KOBRA_MODEL_CODE=ks1
        outputs: type=local,dest=./build/dist
        cache-from: ${{ inputs.use_cache && 'type=gha' || '' }}
        cache-to: ${{ inputs.use_cache && 'type=gha,mode=max' || '' }}
    - name: Prepare SWU file
      run: |
        mkdir -p artifact
        cp build/dist/*-ks1.swu artifact/update.swu
    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: artifact/update.swu
        tag_name: v${{ github.run_number }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
